@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-3">Welcome</h2>
    <button id="try-promise">Try promise</button>
</div>
